h1{
    color: lightcoral;
}
#fruits-title{
    color: black;
}
.important-places{
    color: blueviolet;
}
.fruits-container li{
    color: tomato;
}
.large-text{
    font-size: 2em;
}
.text-center{
    text-align: center;
}